body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* Default background */
}

.theme-switcher {
    position: fixed;
    top: 10px;
    left: 10px;
}

canvas {
    width: 100%;
    height: 100vh;
    display: block;
}
